layout {

    gaps 14

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    focus-ring { width 2; }

    border { off; }

    default-column-width { proportion 0.900000; }

    preset-column-widths {
        proportion 0.333330
        proportion 0.900000
        proportion 0.666670
    }

    center-focused-column "always"
}
