window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 600; }
  default-window-height { fixed 400; }
}


layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

